@import url('https://rsms.me/inter/inter.css');

@font-face {
    font-family: 'Pixel';
    src: url('/fonts/pixel.ttf');
}

* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #101010;
    color: white;
    font-family: 'Inter var', sans-serif;
}

.notification {
    position: absolute;
    top: 75%;
    background: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(238, 238, 238, 0.8);
    width: fit-content;
    z-index: 1;
    justify-content: center;
    display: flex;
    visibility: collapse;
    opacity: 0;
    animation: all 0.5s ease-in-out;
}

.notification-pressed {
    background: rgba(0, 0, 0, 0.4);
    transform: scale(0.9);
}

.notification > p {
    margin: 0;
    padding: 10px 18px;
    font-size: 1rem;
    background: none;
    font-family: 'Pixel', monospace;
}

.hovered {
    visibility: visible;
    opacity: 1;
}
